body{
  background-color:#777;
}

div{
  background-color:#555;

}

#tomato{
  background-color: gray;
		border-radius: 50%;
	width: 200px;
	height: 200px; 
	text-align: center;
	vertical-align: middle;
	margin: auto;
	    border-style: solid;
    border-color: red;
}

h3{
	display: inline;

}

a{
	color: lime;
}