
 html, body {
     height: 100%;
     font-family: 'Tajawal', sans-serif;
 }
 .item1 {
    background: #49a7cc;
    grid-area: header;
  }
  
  .item2 {
    background: lightGray;
    grid-area: advert;
  }

  #image{
    margin: 0;
  max-width: 100%;
  display: block;
  }
  
  
  .item3 {
    background: WhiteSmoke;
    grid-area: content;
    display: grid;
    grid-template-columns: 10px 20px 1fr 20px 10px;
    
  }
  
  .item4 {
    background: #49a7cc;
    grid-area: footer;
  }
  
  .itemOne {
    background: #80d8ff;
    grid-column: 1 / 6;
  }
  
  .itemTwo {
    background: WhiteSmoke;
    grid-column: 2 / 5;
  }
  
  .bio {
    background: WhiteSmoke;
    grid-column: 2 / 5;
  }
  
  .bioContent {
    background: WhiteSmoke;
    grid-column: 3 / 4;
  }
  
  #main {
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr 50px;
    
    grid-template-areas:
      "header header"
      "advert content"
      "footer footer";
  }
  
  #title{
      text-align: center;
  }
  
  #quote{
      font-style: italic;
  }