#home {padding:50px;height:500px;color: #fff; background-color: #1E88E5;}
#about {padding:50px;height:500px;color: #fff; background-color: #673ab7;}
#portfolio {padding:50px;height:500px;color: #fff; background-color: #ff9800;}
#contact {padding:50px;height:500px;color: #fff; background-color: #00bcd4;}
  