html{
    background:url(sky.jpg) no-repeat center center fixed;
    background-size:cover;
    
}


#weatherInfo{

    height:150px;
    width:250px;
   
   position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   
   margin:auto;
}

#city{
    height:50px;
  
    
}

#weather,#city, #winds{
background-color:white;
border-radius:10px;
opacity:0.6;
margin:5px;

}


#weather{
   display:inline-block;
}

#winds{
   
}

#icon{
    height:20px;
    width:20px;
    vertical-align:middle;
    display:inline-block;
    margin-left:50px;
    
}

p{
    text-align:center;
    vertical-align:middle;
    
    color:#0404B4;
    font-family: "Arial Black", Geneva, sans-serif;
    line-height:25px;

    margin: 0;
    
    
    
}


button{
    width:50%;
    opacity:0.9;
}

