body{
    background:url(sky.jpg) no-repeat center center fixed;
    background-size:cover;
    
}

html, body{
  height: 100%;
  width: 100%;
  position: absolute;
}

#weatherInfo{
  height: 250px;
  width:250px;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-125px,-100px);

  background-color:#FFF;
  border-radius:10px;
  opacity:0.75;
    
}




#icon{

    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
        
}

p{
    text-align:center;
    vertical-align:middle;
    
    color:#407F7F;
    font-family: "Arial Rounded MT Bold", Geneva, sans-serif;
 
    font-size: 20px;
    margin: 0;
    padding: 0;
    
}


h1,h2{
    text-align:center;
    vertical-align:middle;
    
    color:#E64A19;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

    margin: 0;
    padding: 0;

}


h1{
  line-height: 100px;
  color: #FFF;
  font-size: 75px;
  margin-top: 20px;
}


button{
    width:50%;
    background-color:#FFC107;
  border-radius:8px;
  display:inline-block;
  color:black;
  font-family:"Arial";
  font-size:16px;
  padding: 5px 0;
  opacity: 1 ;

  
}

button:hover{
  background-color: #84C68C;
  color: white;
}

#backbtn{
  width: 100%;
}